# EditorConfig is awesome: https://EditorConfig.org
root = true

# =========================
# Regras globais
# =========================
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 140

# =========================
# Java e XML
# =========================
[*.{java,xml}]
indent_size = 4

# Evita conflito com formatter da IDE
ij_continuation_indent_size = 8

# =========================
# IntelliJ – Imports Java
# =========================
ij_java_names_count_to_use_import_on_demand = 99
ij_java_class_count_to_use_import_on_demand = 99
ij_java_layout_static_imports_separately = true

ij_java_blank_lines_before_imports = 1
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_before_package = 0
ij_java_blank_lines_after_package = 1
ij_java_blank_lines_after_class_header = 0
ij_java_blank_lines_before_method_body = 0

# =========================
# Frontend / configs
# =========================
[*.{js,jsx,ts,tsx,json,yml,yaml,css,less,scss,html}]
indent_size = 2
max_line_length = 120

# =========================
# Markdown
# =========================
[*.md]
trim_trailing_whitespace = false
indent_size = 2
max_line_length = off

# =========================
# Arquivos de configuração
# =========================
[*.{properties,ini,conf}]
indent_size = 4

# =========================
# Makefile
# =========================
[Makefile]
indent_style = tab
