-- Consulta rÃ¡pida para verificar interval_minutes
SELECT 
    column_name,
    data_type,
    is_nullable,
    column_default
FROM information_schema.columns
WHERE table_name = 'professionals'
  AND column_name = 'interval_minutes';

-- Ver profissionais com seus interval_minutes
SELECT id, name, email, interval_minutes, work_start_time, work_end_time 
FROM professionals 
ORDER BY id DESC 
LIMIT 5;
